* {
  box-sizing: border-box;
}

body {
  background-color: #bd93f9;
  margin: 0;
  font-family:'Helvetica Neue', Arial, Helvetica, sans-ser;
}

.app-window {
  display: flex;
  height: 100vh;
  background-color: #3d3c61e5;
}

 .sidebar {
  width: 35%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(94, 46, 170);
 }

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header--avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.header--buttons {
  display: flex;
}

.header--btn{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content:center;
  align-items:center;
  cursor: pointer;
}

.search {
  background-color: #44475a;
  border-bottom: 1px solid rgb(94, 46, 170);
  padding: 5px 15px;
}

.search--input{
  background-color: #4a5283;
  height: 40px;
  border-radius: 20px;
  align-items:center;
  padding:0 10px;
}

.search--input input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 10px;
}

.chatlist{
  flex: 1;
  background-color: #282a36;
  overflow-y: auto;
}

.chatlist::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb{
  background-color: rgba(125, 76, 202, 0.4);
}

 .contentarea {
  flex: 1;
 }